common-nodes/src/main/resources/META-INF/schemas/opgraph-common-nodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (C) 2012-2018 Gregory Hedlund <https://www.phon.ca>
 Copyright (C) 2012 Jason Gedge <http://www.gedge.ca>

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://www.phon.ca/ns/opgraph-common-nodes" 
	xmlns:og="https://www.phon.ca/ns/opgraph" 
	targetNamespace="https://www.phon.ca/ns/opgraph-common-nodes" 
	elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation>Specification of opgraph-common-nodes extensions.</xs:documentation>
	</xs:annotation>

	<xs:import namespace="https://www.phon.ca/ns/opgraph"
		schemaLocation="../../../../../../xml-io/src/main/resources/META-INF/schemas/opgraph.xsd"/>

	<!-- Definition of a macro -->

	<xs:complexType name="MacroType">
		<xs:annotation>
			<xs:documentation>
				Type definition for the macro element. Textual content in this element
				will be used as a description for the macro.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="og:AbstractNodeType">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:sequence>
							<xs:element ref="og:graph"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="uri"/>
							<xs:element ref="og:abstract_node" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="published_input" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="published_output" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="og:extensions" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="LinkedMacroNodeOverrides" mixed="false">
		<xs:annotation>
			<xs:documentation>
				Extension for MacroNodes containing a list of nodes which should override the values
				inititally loaded by the linked graph.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="og:AbstractExtensionType">
				<xs:sequence>
					<xs:element ref="og:abstract_node" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Definition of a published input/output field of a macro -->

	<xs:complexType name="PublishedFieldType" mixed="true">
		<xs:annotation>
			<xs:documentation>Type definition for a macro's published fields</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="og:FieldType">
				<xs:attribute name="ref" type="og:nonEmptyString" use="required">
					<xs:annotation>
						<xs:documentation>Referenced node for a published input/output field</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="field" type="og:nonEmptyString" use="required">
					<xs:annotation>
						<xs:documentation>Referenced field for a published input/output field</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Document level elements -->

	<xs:element name="macro" type="MacroType" substitutionGroup="og:abstract_node">
		<xs:unique name="macroId">
			<xs:selector xpath="."/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:key name="macroNodeId">
			<xs:selector xpath="./node"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref refer="macroNodeId" name="macroLinkSourceRef">
			<xs:selector xpath="./link"/>
			<xs:field xpath="@source"/>
		</xs:keyref>
		<xs:keyref refer="macroNodeId" name="macroLinkDestRef">
			<xs:selector xpath="./link"/>
			<xs:field xpath="@dest"/>
		</xs:keyref>
		<xs:keyref refer="macroNodeId" name="publishedInputDestNode">
			<xs:selector xpath="./node"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		<xs:keyref refer="macroNodeId" name="publishedOutputSourceNode">
			<xs:selector xpath="./node"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	
	<xs:element name="overrides" type="LinkedMacroNodeOverrides" substitutionGroup="og:extension"/>

	<xs:element name="published_input" type="PublishedFieldType"/>
	<xs:element name="published_output" type="PublishedFieldType"/>

	<xs:element name="uri" type="xs:anyURI"/>
</xs:schema>
